.env
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Streamlit Applications/llama-2-7b-chat.Q4_K_M.gguf
Streamlit Applications/vectorstore/db_faiss/index.faiss
Streamlit Applications/vectorstore/db_faiss/index.pkl
RAGPROJECTS.code-workspace
